/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*debut du css*/

     /* header */
header{
	width: 100%;
	height: 20%;
	padding: 0.2rem;
	background-color: burlywood;
	border-bottom: solid 0.2rem black;
	font-size: 2rem;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

.logo{
	width: 10%;
	height: auto;
}

      /* fin du header */


	  /* disposition */

.lignespace{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-end;
}

.ligne{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.colonnecentre{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.colonnegauche{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.marge{
	margin: 0.5%;
}

.masque{
    display: none;
}

section{
	margin-top: 5%;
}

.image{
    width: 50%;
    height: auto;
}

.cache{
	visibility: hidden;
}
	  /* fin disposition */


	  /* tableaux */
th{
	border: solid 0.1rem black;
}

td{
	border: solid 0.1rem black;
}

.titre{
	width: 50%;
	height: 20%;
	background-color: burlywood;
}

.quantite{
	width: 20%;
	height: 20%;
	background-color: chocolate;
}

.total{
	width: 20%;
	height: 20%;
	background-color: coral;
}

table{
	border-collapse: collapse;
	text-align: center;
	text-align-last: center;
	margin-bottom: 2%;
}

.tableau1{
	width: 80%;
	height: 3.5rem;
}

.tableau2{
	width: 80%;
	height: 15rem;
}
	  /* fin tableaux */

	  /* couleurs et textes */
.intro{
	margin: 2%;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

label{
	font-size: 1.2rem;
}

.erreur{
	font-size: 1.2rem;
	color: red;
	visibility: hidden;
}

.taillevieux{
	font-size: 1.5rem;
}

.boutton{
	background-color: darksalmon;
	color: darkblue;
	font-size: 2rem;
	border-radius: 0.8rem;
}

body{
	background-color: #D4F1FF;
}

.white{
	background-color: silver;
}

button{
	background-color: darksalmon;
	color: darkblue;
	font-size: 2rem;
	border-radius: 0.8rem;
}

.suppr{
	border: none;
	width: 15%;
	height: 20%;
}

.invitCo{
	margin-bottom: 2%;
	color: darkblue;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.gold{
	background-color: lightyellow;
	border: solid 0.3rem darkblue;
	border-radius: 5rem;
}
	  /* fin couleurs et textes */


